ID: aws_elastic_beanstalk_application_version_3
Title: "List AWS Elastic Beanstalk Application Versions Details"
Description: "Allows users to query AWS Elastic Beanstalk Application Versions to obtain details about their configurations, environments, and other metadata."
Connector:
- aws
Query:
  Engine: odysseus-v0.0.1
  QueryToExecute: |-
    select
      application_name,
      application_version_arn,
      version_label,
      status
    from
      aws_elastic_beanstalk_application_version
    where
      status = 'Processed';
  PrimaryTable: null
  ListOfTables: []
  Parameters: []
Tags:
  cloud_asset_management:
  - "true"
  cloud_provider:
  - aws
  cloud_service:
  - AWS Elastic Beanstalk
