ID: aws_ecr_registry_scanning_configuration_1
Title: "List AWS ECR Registry Scanning Configurations by Region"
Description: "Allows users to query AWS ECR Registry Scanning Configuration at the private registry level on a per-region basis."
Connector:
- aws
Query:
  Engine: odysseus-v0.0.1
  QueryToExecute: |-
    select
      registry_id,
      jsonb_pretty(scanning_configuration),
      region
    from
      aws_ecr_registry_scanning_configuration;
  PrimaryTable: null
  ListOfTables: []
  Parameters: []
Tags:
  cloud_asset_management:
  - "true"
  cloud_ops:
  - "true"
  cloud_provider:
  - aws
  cloud_service:
  - ECR
