ID: aws_vpc_security_group_restrict_ingress_common_ports_all
Title: "VPC security groups should restrict ingress access on ports 20, 21, 22, 3306, 3389, 4333 from 0.0.0.0/0"
Description: "Manage access to resources in the AWS Cloud by ensuring common ports are restricted on AWS Elastic Compute Cloud (AWS EC2) security groups."
Connector:
- aws
Query:
  Engine: odysseus-v0.0.1
  QueryToExecute: |
    with ingress_ssh_rules as (
      select
        group_id,
        count(*) as num_ssh_rules
      from
        aws_vpc_security_group_rule
      where
        type = 'ingress'
        and cidr_ipv4 = '0.0.0.0/0'
        and (
            ( ip_protocol = '-1'
            and from_port is null
            )
            or (
                from_port >= 22
                and to_port <= 22
            )
            or (
                from_port >= 3389
                and to_port <= 3389
            )
            or (
                from_port >= 21
                and to_port <= 21
            )
            or (
                from_port >= 20
                and to_port <= 20
            )
            or (
                from_port >= 3306
                and to_port <= 3306
            )
            or (
                from_port >= 4333
                and to_port <= 4333
            )
        )
      group by
        group_id
    )
    select
      arn as resource,
      kaytu_account_id as kaytu_account_id,
      kaytu_resource_id as kaytu_resource_id,
      case
        when ingress_ssh_rules.group_id is null then 'ok'
        else 'alarm'
      end as status,
      case
        when ingress_ssh_rules.group_id is null then sg.group_id || ' ingress restricted for ports 20, 21, 22, 3306, 3389, 4333 from 0.0.0.0/0.'
        else  sg.group_id || ' contains ' || ingress_ssh_rules.num_ssh_rules || ' ingress rule(s) allowing access on ports 20, 21, 22, 3306, 3389, 4333 from 0.0.0.0/0.'
      end as reason
      
      , region, account_id
    from
      aws_vpc_security_group as sg
      left join ingress_ssh_rules on ingress_ssh_rules.group_id = sg.group_id;
  PrimaryTable: aws_vpc_security_group
  ListOfTables:
  - aws_vpc_security_group
  - aws_vpc_security_group_rule
  Parameters: []
Severity: high
Tags:
  audit_manager_control_tower:
  - "true"
  category:
  - Compliance
  cisa_cyber_essentials:
  - "true"
  fedramp_low_rev_4:
  - "true"
  fedramp_moderate_rev_4:
  - "true"
  ffiec:
  - "true"
  gxp_21_cfr_part_11:
  - "true"
  hipaa_final_omnibus_security_rule_2013:
  - "true"
  hipaa_security_rule_2003:
  - "true"
  nist_800_171_rev_2:
  - "true"
  nist_800_53_rev_4:
  - "true"
  nist_800_53_rev_5:
  - "true"
  nist_csf:
  - "true"
  plugin:
  - aws
  rbi_cyber_security:
  - "true"
  service:
  - AWS/VPC
  soc_2:
  - "true"
