Description: This control checks whether the VPC security groups that are in use allow unrestricted incoming traffic. Optionally the rule checks whether the port numbers are listed in the authorizedTcpPorts parameter. The default values for authorizedTcpPorts are 80 and 443.
ID: aws_vpc_security_group_allows_ingress_authorized_ports
IntegrationType:
  - aws_cloud_account
Query:
  Engine: CloudQL-v0.0.1
  ListOfTables:
    - aws_vpc_security_group
    - aws_vpc_security_group_rule
  Parameters: []
  PrimaryTable: aws_vpc_security_group
  QueryToExecute: |
    WITH ingress_unauthorized_ports AS (
      SELECT
        group_id,
        COUNT(*)
      FROM
        aws_vpc_security_group_rule
      WHERE
        type = 'ingress'
        AND cidr_ipv4 = '0.0.0.0/0'
        AND (
          from_port IS NULL
          OR from_port NOT IN (80, 443)
        )
      GROUP BY
        group_id
    )
    SELECT
      sg.arn AS resource,
      sg.platform_integration_id AS platform_integration_id,
      sg.platform_resource_id AS platform_resource_id,
      CASE
        WHEN ingress_unauthorized_ports.count > 0 THEN 'alarm'
        ELSE 'ok'
      END AS status,
      CASE
        WHEN ingress_unauthorized_ports.count > 0 THEN sg.title || ' having unrestricted incoming traffic other than default ports from 0.0.0.0/0 '
        ELSE sg.title || ' allows unrestricted incoming traffic for authorized default ports (80, 443).'
      END AS reason,
      sg.region,
      sg.account_id
    FROM
      aws_vpc_security_group AS sg
      LEFT JOIN ingress_unauthorized_ports ON ingress_unauthorized_ports.group_id = sg.group_id
Severity: high
Tags:
  aws_foundational_security:
    - "true"
  category:
    - Compliance
  foundational_security_category:
    - security_group_configuration
  foundational_security_item_id:
    - ec2_18
  plugin:
    - aws
  service:
    - AWS/EC2
Title: VPC Security groups should only allow unrestricted incoming traffic for authorized ports