ID: aws_config_aggregate_authorization_1
Title: "Find AWS Config Aggregate Authorizations Info"
Description: "Allows users to query AWS Config Aggregate Authorizations, providing vital information about AWS Config rules and their respective authorizations in an aggregated form."
Connector:
- aws
Query:
  Engine: odysseus-v0.0.1
  QueryToExecute: |-
    select
      arn,
      authorized_account_id,
      authorized_aws_region,
      creation_time
    from
      aws_config_aggregate_authorization;
  PrimaryTable: null
  ListOfTables: []
  Parameters: []
Tags:
  cloud_asset_management:
  - "true"
  cloud_identity_security:
  - "true"
  cloud_provider:
  - aws
  cloud_service:
  - AWS Config
