ID: aws_codedeploy_deployment_group_2
Title: "List AWS CodeDeploy Deployment Group Details and Configurations"
Description: "Allows users to query AWS CodeDeploy Deployment Group details including deployment configurations, target revisions, and associated alarm configurations."
Connector:
- aws
Query:
  Engine: odysseus-v0.0.1
  QueryToExecute: |-
    select
      count(arn) as group_count,
      compute_platform
    from
      aws_codedeploy_deployment_group
    group by
      compute_platform;
  PrimaryTable: null
  ListOfTables: []
  Parameters: []
Tags:
  cloud_asset_management:
  - "true"
  cloud_provider:
  - aws
  cloud_service:
  - CodeDeploy
