connectors:
- Azure
name: App Configuration
query: SELECT kaytu_account_id, usage_date::text as date, sum(cost) FROM azure_costmanagement_costbyresourcetype WHERE service_name = 'App Configuration' group by 1,2;
status: active
tables:
- App Configuration
tags:
  category:
  - PaaS
