connectors:
- Azure
name: Application Insights
query: SELECT kaytu_account_id, usage_date::text as date, sum(cost) FROM azure_costmanagement_costbyresourcetype WHERE service_name = 'Application Insights' group by 1,2;
status: active
tables:
- Application Insights
tags:
  category:
  - Observability
