connectors:
- AWS
name: AWS Config
query: SELECT kaytu_account_id, period_start::date::text as date, sum(amortized_cost_amount) FROM aws_cost_by_service_daily WHERE service = 'AWS Config' group by 1,2;
status: active
tables:
- AWS Config
tags:
  category:
  - Governance
